
  <mat-accordion *ngFor="let ajuda of ajudas" multi>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title >
          {{ajuda.id}}  - {{ajuda.helpType}}
        </mat-panel-title>
        <mat-panel-description>
          {{ajuda.location}}
        </mat-panel-description>
      </mat-expansion-panel-header>
        <p>{{ajuda.announcerName}}</p>
        <p>{{ajuda.email}}</p>
        <p>{{ajuda.description}}</p>
    </mat-expansion-panel>
  </mat-accordion>






