.container-esquerda{
    display: block;
    width: 45%;
    margin: 0;
}

.top-line{
    width: 100%;
    height: 0.5em;
    background-color: #FFF700;
}

.header{
    margin-top: 4em;
    margin-bottom: 3em;
}

.mini-linha{
    opacity: 40%;
    width: 25%;
    border-style: none;
    border-top: 0.005em solid rgb(0, 0, 0);
}

.font, h1, h2, mat-stepper, mat-form-field, mat-radio-button, mat-select, mat-option{
    font-family: 'Montserrat', sans-serif;
}

h1{
    font-size: 2em;
}

h2{
    font-size: 1em;
    font-weight: lighter;
}

.container-stepper{
    width: 80%;
    margin: 0 auto;
}

.container-mat-form{
    width: 70%;
    margin-top: 2%;
    margin-left: 5%;
}

mat-form-field{
    width: 90%;
    margin-top: 1em;
}

mat-icon{
    transform: scale(1.35);
}

mat-radio-button{
    font-size: 1m;
}

.container-mat-radio{
    margin-top: 2em;;
}

.container-direita{
    width: 55%;
    display: block;
    margin: 0;
}

.botaoProximo{
    margin-top: 2em;
    margin-left: 1em;
}

.botaoVoltar{
    margin-top: 2em;
    margin-left: 1em;
}

.inputNumero{
    width: 20%;
    margin-right: 1em;
}

.inputGenero{
    width: 70%;
}